body {
    font-family: 'Poppins', sans-serif;
    margin-left: 7%;
    
}
.intro-area {
    display: flex;
}
.about-mission {
    width: 40%;
    padding: 5%;
}
.about-mission img {
    width: 80%;
}
.heading {
    font-size: 75px;
    font-family: 'Abril Fatface', cursive;
    font-weight: 100;
    opacity: 0.8;
}
.left-border {
    border-left: 5px solid rgb(248, 138, 95);

}
span {
    color: rgb(248, 138, 95);
}
p {
    font-size: 21px;
    opacity: 0.7;
    margin: 40px auto;
}
a {
    background-color: rgb(53, 2, 2);
    color: white;
    padding: 15px 40px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 14px;
}
#mission-area {
    text-align: center;
    font-size: 40px;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 300;
    width: 92%;
}
.mission-details {
    display: flex;
}
.half-width {
    width: 25%;
    margin-left: 20px;
    margin-bottom: 20px;
}
.half-width img {
    width: 55%;
    margin-bottom: 20px;

}
#mission-box {
    background-color: rgb(231, 231, 236);
    border-radius: 10px;
    padding: 10px 25px;
}
#vission-box {
    background-color: rgb(255, 229, 255);
    border-radius: 10px;
    padding: 10px 25px;
}
#goal-box {
    background-color: rgb(236, 220, 221);
    border-radius: 10px;
    padding: 10px 25px;
}
#bottom-line {
    display: block;
}
.heading-font {
    font-size: 40px;
    font-family: 'Fjalla One'
    font-weight: 900;
}