body {
    font-family: 'Poppins', sans-serif;
    
}
.intro-area {
    display: flex;
    margin-left: 50px;
}
.about-mission {
    width: 40%;
    padding: 5%;
}
.about-mission img {
    width: 80%;
}
.heading {
    font-size: 75px;
    font-family: 'Abril Fatface', cursive;
    font-weight: 100;
    color: rgb(56, 55, 55);
}
.left-border {
    border-left: 5px solid rgb(248, 138, 95);
    border-radius: 3px;
    padding: 0 5px;
}
span {
    color: rgb(248, 138, 95);
}
p {
    font-size: 21px;
    color: rgb(97, 95, 95);
    margin: 40px auto;
}
a {
    background-color: rgb(53, 2, 2);
    color: white;
    padding: 15px 40px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 14px;
}
#mission-area {
    text-align: center;
    font-size: 40px;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 300;
    width: 92%;
}
.mission-details {
    display: flex;
    margin-left: 60px;
}
.half-width {
    width: 25%;
    margin-left: 20px;
    margin-bottom: 20px;
}
.half-width img {
    width: 55%;
    margin-bottom: 20px;

}
#mission-box {
    background-color: rgb(231, 231, 236);
    border-radius: 10px;
    padding: 10px 25px;
}
#vission-box {
    background-color: rgb(255, 229, 255);
    border-radius: 10px;
    padding: 10px 25px;
}
#goal-box {
    background-color: rgb(236, 220, 221);
    border-radius: 10px;
    padding: 10px 25px;
}
#bottom-line {
    display: block;
}
.heading-font {
    font-size: 40px;
    font-family: 'Fjalla One';
    font-weight: 900;
}
.covid-heading {
    font-size: 40px;
    color: white;
    text-align: center;
    font-weight: 900;
    background-color: rgb(110, 1, 1);
    width: 40%;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;

}
.stay-safe {
    display: flex;
    margin-left: 50px;
}
.be-aware {
    width: 30%;
    margin-left: 70px;
    margin-top: 35px;
    padding: 10px 30px;
}
.be-aware img {
    width: 100px;
    height: 100px;
}
footer {
    margin: 0;
    background-color: rgb(8, 8, 8);
    height: 200px;
    text-align: center;
    color: white;
}

footer h1 {
    font-size: 40px;
    padding: 20px 50px;
    font-family: 'Lobster', cursive;
}