body {
    font-family: 'Poppins', sans-serif;
    
}
.intro-area {
    display: flex;
    padding-left: 7%;
}
.about-mission {
    width: 40%;
    padding: 5%;
}
.about-mission img {
    width: 80%;
}
h1 {
    font-size: 75px;
    font-family: 'Abril Fatface', cursive;
    font-weight: 100;
    opacity: 0.8;
}
.left-border {
    border-left: 5px solid rgb(248, 138, 95);n;

}
span {
    color: rgb(248, 138, 95);
}
p {
    font-size: 21px;
    opacity: 0.7;
    margin: 40px auto;
}
a {
    background-color: rgb(53, 2, 2);
    color: white;
    padding: 15px 40px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 14px;
}
